.blinking-marker {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
  animation: blink 1s infinite;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.mapBoxMain {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.mapBoxParent {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  
}

.testHello {
  position: absolute;
  left: 50%;
  top: 20%;
  z-index: 10000;
}