*{
  color: rgb(0, 0, 0);
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

.appMain {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.192);
  display: flex;
  align-items: center;
  justify-content: center;
}

.LoginCardParent {
  height: 40%;
  aspect-ratio: 1;
}

.mapboxParent {
  height: 100%;
  width: 100%;
  position: relative;
}

.yourDetailsCard {
  z-index: 10000;
  position: absolute;
  top: 0;
  left: 0;
  font-size: 10px;
  background-color: white;
}

.userListParent {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: rgb(109, 54, 54);
  z-index: 10000;
  color: white;
}

.resetButton {
  position: absolute;
  right: 10px;
  top: 10px;
  width: fit-content;
  padding: 10px 20px;
  z-index: 10000;
  font-size: 12px;
}